<a href="https://colab.research.google.com/github/TaekGwonNam/2024.VAI/blob/main/ec00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy  as np

def print_val(x):
  print("Type:",type(x))
  print("Shape:",x.shape)
  print("값:\n",x)
  print("")

**rank 1 np array**

In [4]:
  x = np.array([1,2,3])
  print_val(x)

  x[0] = 5
  print_val(x)

Type: <class 'numpy.ndarray'>
Shape: (3,)
값:
 [1 2 3]

Type: <class 'numpy.ndarray'>
Shape: (3,)
값:
 [5 2 3]

**rank2 np array**

In [ ]:
  y = np.array([[1,2,3], [4,5,6]])
  print_val(y)